<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--	<title></title>-->
<!--&lt;!&ndash;	<link rel="stylesheet" type="text/css" href="./style.css">&ndash;&gt;-->
<!--</head>-->



<!--<body>-->

<!--	 <div class="change-pass" style="color:rgb(64,64,64);font-family:'Open Sans','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue','Helvetica,Arial','Lucida Grande',sans-serif;font-size:31px;font-style:normal;font-variant-caps:normal;font-weight:500;letter-spacing:normal;text-align:start;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;padding:4px;max-width:600px!important;margin:0 auto;">-->
<!--        <table cellpadding="0" cellspacing="0" border="0" align="center" style="padding:45px 45px 0px;border:1px solid rgb(240,240,240);background-color:background-color:#F9F9F9;width:100%!important">-->
<!--            <tbody>-->
<!--            <tr>-->
<!--                <td align="center">-->
<!--                    <table cellspacing="0" border="0" width="100%">-->
<!--                        <tbody>-->
<!--                        <tr>-->
<!--                            <td valign="top" align="center"><img width="250" alt="Mankan logo" src="http://admin.mankan.am/images/logo.png" ></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                    <table cellpadding="0" cellspacing="0" border="0" width="100%">-->
<!--                        <tbody>-->
<!--                        <tr style="font-size:15px;font-weight:500;color:rgb(64,64,64);font-family:'Open Sans','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial','Lucida Grande',sans-serif;line-height:22px;text-align:center">-->
<!--                            <td>-->
<!--                                <br><br>-->
<!--                                Բարև Ձեզ-->
<!--                                <br><br>-->
<!--                                Բարի գալուստ Մանկան, անցնեք այս հղումով Ձեր գաղտնաբառն վերականգնելու համար!-->
<!--                            </td>-->
<!--                        </tr>-->


<!--                        <tr style="font-size:15px;font-weight:500;color:rgb(64,64,64);font-family:'Open Sans','Helvetica Neue','Lucida Grande',sans-serif;line-height:22px;text-align:center">-->
<!--                            <td align="center">-->
<!--                                Սեխմեք այս կոճակն-->
<!--                                <br><br>-->
<!--                                <a href="http://api.mankan.am/changePassword/<%= token %>"  style="border-radius:4px;font-size:15px;color:white;text-decoration:none;padding:14px 7px;width:210px;height:40px;line-height:40px;font-family:'Open Sans','Helvetica Neue','Arial';margin:0px;display:block;background-color:#e74747;text-align:center" target="_blank">Վերականգնել Գաղտնաբառն</a>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr style="font-size:15px;font-weight:500;color:rgb(64,64,64);font-family:'Open Sans','HelveticaNeue-Light','Helvetica Neue Light','Helvetica Neue','Helvetica','Arial','Lucida Grande',sans-serif;line-height:22px; text-align: center;">-->
<!--                            <td>-->
<!--                                <br><br>-->
<!--                                Հարցերի դեպքում խնդրում ենք զանգահարել այս համարով 010001100, կամ գրել էլ․ հասցեին mankan@mankan.com։-->
<!--                                <br><br>-->
<!--                                <div style="font-size:12px; text-align:center">Լավագույն մաղթանքներով ՄԱՆԿԱՆ խանութների ցանց</div>-->
<!--                            </td>-->
<!--                        </tr>-->
<!--                        <tr>-->
<!--                            <td height="40"></td>-->
<!--                        </tr>-->
<!--                        </tbody>-->
<!--                    </table>-->
<!--                </td>-->
<!--            </tr>-->
<!--            </tbody>-->
<!--        </table>-->
<!--    </div>-->
<!--</div>-->


<!--</body>-->





<!--</html>-->

<!--<div>-->

<!DOCTYPE html>
<html>


<head>
    <title></title>
</head>



<body>


<div style="font-family: sans-serif; max-width: 450px; margin: 0 auto; text-align: center;">

    <img style="width: 150px" src='http://admin.mankan.am/images/logo.png' alt='logo'/>

    <h1 style="font-size: 18px; font-weight: bold; margin-top: 40px; margin-bottom: 20px"> Ողջույն </h1>


    <p style="font-size: 14px"> Գաղտնաբառի վերականգնման համար սեղմեք ներքևի Կոճակը </p>

    <a href="http://mankan.am/changePassword/<%= token %>"<button type="button" style="font-size: 16px; border:none; outline: none; color:white;background: #e34f4f; width: 76%; border-radius: 35px; padding: 16px; margin-top: 15px">Վերականգնել</button></a>

    <div>
        <p style="font-size: 14px; margin-top: 35px; line-height: 23px;color: #3e3e3e;"> Հարցերի դեպքում կարող եք զանգահարել +317 99 530311 հեռախոսահամարով կամ ուղարկել նամակ contact@mankan.am Էլ․ հասցեին: </p>
        <hr style="width: 50%">
    </div>


    <div>
        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;">70 Karapet Ulnetsi str., Yerevan </p>
        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> 24 Mesrop Mashtots ave., Yerevan </p>
        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> 36 Abovyan str., Yerevan </p>
        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> Dalma Garden Mall, Yerevan  </p>
    </div>

    <hr style="width: 50%; margin-top: 20px">

    <p style="color: #3e3e3e; font-size: 14px;"> www.mankan.am </p>

</div>



</body>



</html>
