
<!--<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">-->
<html>


<head>
 <title>Բարի Գալուստ</title>
</head>



<body>


<div style="font-family: sans-serif; max-width: 450px; margin: 0 auto; text-align: center;">

 <img style="width: 150px" src='http://admin.mankan.am/images/logo.png' alt='logo'/>

<!-- <p style="font-size: 14px"> <%= info.title%> </p>-->

 <table style=" border-collapse: collapse; width: 100%; font-size: 14px; max-width: 1000px; margin: 0 auto; text-align: left;">
  <tr>
   <td style="border: 1px solid #b1b1b1; height: 27px; padding-left: 10px; width: 42%; color: #383838; font-weight: bold">Էլ․ հասցե</td>
   <td style="border: 1px solid #b1b1b1; height: 27px; padding-left: 10px; color: #8a8a8a"><%= info.email%></td>
  </tr>
  <tr>
   <td style="border: 1px solid #b1b1b1; height: 27px; padding-left: 10px; color: #383838;font-weight: bold">Նկարագրություն</td>
   <td style="border: 1px solid #b1b1b1; height: 27px; padding-left: 10px; color:#8a8a8a;"><%= info.description%></td>
  </tr>

 </table>


 <div>
  <p style="font-size: 14px; margin-top: 35px; line-height: 23px;color: #3e3e3e;"> Հարցերի դեպքում կարող եք զանգահարել +317 99 530311 հեռախոսահամարով կամ ուղարկել նամակ contact@mankan.am Էլ․ հասցեին: </p>
  <hr style="width: 50%">
 </div>


 <div>
  <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> Yerevan Yerevan </p>
  <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> Yerevan Yerevan </p>
  <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> Yerevan Yerevan </p>
  <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> Yerevan Yerevan </p>
 </div>

 <hr style="width: 50%; margin-top: 20px">

 <p style="color: #3e3e3e; font-size: 14px;"> www.mankan.am </p>

</div>



</body>



</html>
