<!--&lt;!&ndash;<!DOCTYPE html>&ndash;&gt;-->
<!--&lt;!&ndash;<html>&ndash;&gt;-->
<!--&lt;!&ndash;<head>&ndash;&gt;-->
<!--&lt;!&ndash;    <title></title>&ndash;&gt;-->
<!--&lt;!&ndash;    <link rel="stylesheet" type="text/css" href="./style.css">&ndash;&gt;-->
<!--&lt;!&ndash;</head>&ndash;&gt;-->
<!--&lt;!&ndash;<body>&ndash;&gt;-->

<!--&lt;!&ndash;<div>&ndash;&gt;-->
<!--&lt;!&ndash;    <div style="color:rgb(64,64,64);font-family:'Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;font-size:31px;font-style:normal;font-variant-caps:normal;font-weight:500;letter-spacing:normal;text-align:center;text-indent:0px;text-transform:none;white-space:normal;word-spacing:0px;padding:4px;max-width:600px!important;margin:0 auto;">&ndash;&gt;-->
<!--&lt;!&ndash;        <table cellpadding="0" cellspacing="0" border="0" align="center" style="padding:45px 45px 0px;border:1px solid rgb(240,240,240);background-color:background-color:#F9F9F9;width:100%!important">&ndash;&gt;-->
<!--&lt;!&ndash;            <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;            <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                <td align="center" style="text-align: center;">&ndash;&gt;-->
<!--&lt;!&ndash;                    <table cellspacing="0" border="0" width="100%">&ndash;&gt;-->
<!--&lt;!&ndash;                        <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td valign="top" align="center"><img width="250" alt="Mankan logo" src="https://babybuy.am/images/brand/d0c2570da68020b35783aa1d6789fd4b.png" ></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                    </table>&ndash;&gt;-->
<!--&lt;!&ndash;                    <table cellpadding="0" cellspacing="0" border="0" width="100%">&ndash;&gt;-->
<!--&lt;!&ndash;                        <tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr style="font-size:15px;font-weight:500;color:rgb(64,64,64);font-family:'Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;line-height:22px;text-align:center;">&ndash;&gt;-->
<!--&lt;!&ndash;                            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                                <br><br>&ndash;&gt;-->
<!--&lt;!&ndash;                                Բարև Ձեզ&ndash;&gt;-->
<!--&lt;!&ndash;                                <br><br>&ndash;&gt;-->
<!--&lt;!&ndash;                                Բարի գալուստ Մանկան, մենք ուրախ եք տեսնել Ձեզ մեր կայքում!&ndash;&gt;-->
<!--&lt;!&ndash;                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->


<!--&lt;!&ndash;                        <tr style="font-size:15px;font-weight:500;color:rgb(64,64,64);font-family:'Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;line-height:22px;text-align:center;">&ndash;&gt;-->
<!--&lt;!&ndash;                            <td align="center">&ndash;&gt;-->
<!--&lt;!&ndash;                                Սեխմեք ներքևի կոճակն ձեր էջն ակտիվացնելու համար!&ndash;&gt;-->
<!--&lt;!&ndash;                                <br><br>&ndash;&gt;-->
<!--&lt;!&ndash;                                <a href="http://api.mankan.am/?token=<%=token%>"  style="border-radius:4px;font-size:15px;color:white;text-decoration:none;padding:14px 7px;width:210px;height:40px;line-height:40px;font-family:'Open Sans','Helvetica Neue',Arial;margin:0px;display:block;background-color:#e74747;text-align:center" target="_blank">Հաստատել Էլ․ հասցեն</a>&ndash;&gt;-->
<!--&lt;!&ndash;                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr style="font-size:15px;font-weight:500;color:rgb(64,64,64);font-family:'Open Sans',HelveticaNeue-Light,'Helvetica Neue Light','Helvetica Neue',Helvetica,Arial,'Lucida Grande',sans-serif;line-height:22px;">&ndash;&gt;-->
<!--&lt;!&ndash;                            <td>&ndash;&gt;-->
<!--&lt;!&ndash;                                <br><br>&ndash;&gt;-->
<!--&lt;!&ndash;                                Հարցերի դեպքում խնդրում ենք զանգահարել այս համարով 010001100, կամ գրել էլ․ հասցեին mankan@mankan.com։&ndash;&gt;-->
<!--&lt;!&ndash;                                <br><br>&ndash;&gt;-->
<!--&lt;!&ndash;                                <div style="font-size:12px; text-align:center">Լավագույն մաղթանքներով ՄԱՆԿԱՆ խանութների ցանց</div>&ndash;&gt;-->
<!--&lt;!&ndash;                            </td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        <tr>&ndash;&gt;-->
<!--&lt;!&ndash;                            <td height="40"></td>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tr>&ndash;&gt;-->
<!--&lt;!&ndash;                        </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;                    </table>&ndash;&gt;-->
<!--&lt;!&ndash;                </td>&ndash;&gt;-->
<!--&lt;!&ndash;            </tr>&ndash;&gt;-->
<!--&lt;!&ndash;            </tbody>&ndash;&gt;-->
<!--&lt;!&ndash;        </table>&ndash;&gt;-->
<!--&lt;!&ndash;    </div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->

<!--&lt;!&ndash;</body>&ndash;&gt;-->
<!--&lt;!&ndash;</html>&ndash;&gt;-->


<!--<!DOCTYPE html>-->
<!--<html>-->


<!--<head>-->
<!--    <title></title>-->
<!--</head>-->



<!--<body>-->


<!--<div style="font-family: sans-serif; max-width: 450px; margin: 0 auto; text-align: center;">-->

<!--    <img style="width: 150px" src='http://admin.mankan.am/images/logo.png' alt='logo'/>-->

<!--    <h1 style="font-size: 18px; font-weight: bold; margin-top: 40px; margin-bottom: 50px"> Ողջույն </h1>-->


<!--    <p style="font-size: 14px"> Էլ․ հասցեն հաստատելու համար սեղմեք ներքևի Կոճակը </p>-->

<!--    <a href="http://api.mankan.am/?token=<%=token%>"> <button type="button" style="font-size: 16px; border:none; outline: none; color:white;background: #e34f4f; width: 76%; border-radius: 35px; padding: 16px; margin-top: 15px">Հաստատել</button></a>-->

<!--    <div>-->
<!--        <p style="font-size: 14px; margin-top: 35px; line-height: 23px;color: #3e3e3e;"> Հարցերի դեպքում կարող եք զանգահարել +317 99 530311 հեռախոսահամարով կամ ուղարկել նամակ contact@mankan.am Էլ․ հասցեին: </p>-->
<!--        <hr style="width: 50%">-->
<!--    </div>-->


<!--    <div>-->
<!--        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;">  70 Karapet Ulnetsi str., Yerevan </p>-->
<!--        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> 24 Mesrop Mashtots ave., Yerevan </p>-->
<!--        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;">  36 Abovyan str., Yerevan </p>-->
<!--        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> Dalma Garden Mall, Yerevan </p>-->
<!--    </div>-->




<!--    <hr style="width: 50%; margin-top: 20px">-->

<!--    <p style="color: #3e3e3e; font-size: 14px;"> www.mankan.am </p>-->

<!--</div>-->



<!--</body>-->



<!--</html>-->

<!DOCTYPE html>
<html>


<head>
    <title></title>
</head>



<body>


<div style="font-family: sans-serif; max-width: 450px; margin: 0 auto; text-align: center;">

    <img style="width: 150px" src='http://admin.mankan.am/images/logo.png' alt='logo'/>

    <h1 style="font-size: 18px; font-weight: bold; margin-top: 40px; margin-bottom: 50px"> Բարի Գալուստ </h1>


    <p style="font-size: 14px"> Էջն ակտիվացնելու համար սեղմեք ներքևի Կոճակը </p>
    <a href="http://mankan.am/?token=<%=token%>"> <button type="button" style="font-size: 16px; border:none; outline: none; color:white;background: #e34f4f; width: 76%; border-radius: 35px; padding: 16px; margin-top: 15px">Ակտիվացնել</button></a>


    <div>
        <p style="font-size: 14px; margin-top: 35px; line-height: 23px;color: #3e3e3e;"> Հարցերի դեպքում կարող եք զանգահարել +317 99 530311 հեռախոսահամարով կամ ուղարկել նամակ contact@mankan.am Էլ․ հասցեին: </p>
        <hr style="width: 50%">
    </div>


    <div>
        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;">  70 Karapet Ulnetsi str., Yerevan </p>
        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> 24 Mesrop Mashtots ave., Yerevan </p>
        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;">  36 Abovyan str., Yerevan </p>
        <p style="font-size: 14px; margin-top: 20px; line-height: 10px; color: #3e3e3e;"> Dalma Garden Mall, Yerevan </p>
    </div>

    <hr style="width: 50%; margin-top: 20px">

    <p style="color: #3e3e3e; font-size: 14px;"> www.mankan.am </p>

</div>



</body>



</html>
