
@font-face {
  font-family: 'NotoSansArmenian-Medium';
  src: url('NotoSansArmenian-Medium.eot?#iefix') format('embedded-opentype'),
  url('NotoSansArmenian-Medium.woff') format('woff'),
  url('NotoSansArmenian-Medium.ttf')  format('truetype'),
  url('NotoSansArmenian-Medium.svg#NotoSansArmenian-Medium') format('svg');
  font-weight: normal;
  font-style: normal;
}
