
@font-face {
  font-family: 'NotoSansArmenian-ExtraBold';
  src: url('NotoSansArmenian-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('NotoSansArmenian-ExtraBold.woff') format('woff'),
  url('NotoSansArmenian-ExtraBold.ttf')  format('truetype'),
  url('NotoSansArmenian-ExtraBold.svg#NotoSansArmenian-ExtraBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
